# Dependencies
node_modules/
.pnpm-store/

# Env / secrets
.env
.env.local
.env.*.local
!.env.example

# Build
dist/
build/
.next/
.turbo/
coverage/
*.tsbuildinfo

# Flutter
apps/**/build/
apps/**/.dart_tool/
apps/**/.flutter-plugins
apps/**/.flutter-plugins-dependencies
apps/**/.packages
apps/**/pubspec.lock

# IDE / OS
.idea/
.vscode/
*.swp
.DS_Store
Thumbs.db

# Prisma
services/api/prisma/*.db

# Logs
*.log
npm-debug.log*
